[server]
root_url = https://www.grafana.zhmura.online/


[auth]
disable_login_form = false

[database]
type = sqlite3
path = /var/lib/grafana/grafana.db

[security]
admin_user = admin
admin_password = 2359380
